.main-wrapper {
  width: 1000px;
  margin: 0 auto;
}
h1{
  font-size: 48px;
  line-height: 1.1em;
  color: black;
  text-align: center;
}
.feed{
  border: 0.25px solid grey;
}
.yelp-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
	column-gap: 23px;
	row-gap: 34px;
}
.profile-pic{
  border-radius: 50px;
  margin-top: 15px;
}
.yelp-name{
  font-size: 20px;
	color: black;
}
.feed-info-grid{
	display:grid;
	grid-template-columns: 50px 1fr; 
}
.feed-pic-grid{
	display:grid;
	grid-template-columns: 1fr 1fr;
  column-gap: 12px;
  row-gap: 12px;
  padding: 15px 0 0 15px;
}
.feed-pic{
  border: 1px solid black;
  margin: 4px;
  padding: 0;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
}
.css-i4guvk {
  border-color: rgb(235, 235, 235);
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.css-1d8srnw {
  display: inline;
  border-color: rgba(235,235,235,1);
}
.css-1ljpb85 {
  display: inline-block;
  border-color: rgb(235, 235, 235);
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
.css-tgzc6n {
  display: inline-block;
  border-color: rgb(235, 235, 235);
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}